<pre> </pre>
<h1>
    Please Enter Order Status
</h1>

<hr></hr>

<table>
    <tr>
      <th>Status</th>
      <th>Description</th> 
    </tr>
    <tr>
      <td>0</td>
      <td>Order received</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Order Sent to Printer</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Printing</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Order Sent for Packaging</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Packaging</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Order handed over to Delhivery</td>
      </tr>
</table>
<pre> </pre>

<form method="post">
  Order Id: <input name="name"/>
  <br/><br/>
  Status: <input name="email"/>
  <br/><br/>
  <!-- make a drop down of the above -->
  <button type="submit">Submit</button>
</form>